{% extends "base.html" %}

{% block title %} Question {% endblock %}

{% block script %} 
    <script type="text/javascript" src="{{ url_for('views.staticfile', folder='js', filename='question.js') }}"></script>
{% endblock %}

{% block content %}
<div id="new-question-main-container" class="container">
	<h1>{{ question.title }}</h1>
	<div id="question-container" class="row">
		<div class="col-1 question-votes-container">
			<div class="h-100 text-center">
				<a id="questionUpVote" class="questionUpVote no-select clickable deco-none" data-id="{{question.id}}"><span class="vote-btn">&#9650</span><br></a>
				<span>{{ question.numVotes }}</span><br>
				<a id="questionDownVote" class="questionDownVote no-select clickable deco-none" data-id="{{question.id}}"><span class="vote-btn">&#9660</span></a>
			</div>
		</div>
		<div class="col-11 question-container">
			<p class="question-body">
				{{ question.body }}
			</p>
			<div class="question-creator-container">
				<p>
					Asked by:<br>
					<b>{{ question.creator.username }}</b> on {{ question.date_created.year }}-{{ question.date_created.month
					}}-{{ question.date_created.day }}
				</p>
			</div>
		</div>
	</div>
	<div id="answers-container" class="container">
		<h2>{{ question.numAnswers }} Answers</h2>
		{% for answer in question.answers %}
		<div class="row answer-row">
			<div class="col-1 question-votes-container">
				<div class="h-90 text-center">
					<a id="upVote" class="upVote clickable deco-none no-select" q-id="{{ question.id }}" ans-id="{{answer.id}}"><span class="vote-btn">&#9650<br></span></a>
					<span class="no-select">{{ answer.numVotes }}</span><br>
					<a id="downVote" class="downVote clickable deco-none no-select" q-id="{{ question.id }}" ans-id="{{answer.id}}"><span class="vote-btn">&#9660</span></a>
				</div>
				<div class="best-answer-selection-container mt-3 {{ 'd-none' if question.hasAcceptedAnswer or not question.user_is_owner }}">
					<button class="best-answer-selection-btn btn-success" q-id="{{ question.id }}" ans-id="{{ answer.id }}" style="font-size: 0.6em; width: 100%;">Make Best Answer</button>
				</div>
				<div class="text-success h-10 text-center {{ 'invisible' if not answer.is_accepted_answer }}" style="font-size: 2em; font-weight: bold;">
					<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
						<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
					</svg>
				</div>
			</div>
			<div class="col-11 answer-container">
				<p class="answer-body">
					{{ answer.body }}
				</p>
				<div class="answer-creator-container">
					<p>
						Answered by:<br>
						<b>{{ answer.creator.username }}</b> on {{ answer.date_created.year }}-{{ answer.date_created.month }}-{{
						answer.date_created.day }}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div id="new-answer-form-container">
		<h2>Your Answer</h2>
		<form method="POST" class="form-signin" style="color:white;">
			{{ form.hidden_tag() }}
			<div class="row">
				<ul class="errors text-danger">
					{% if form.body.errors %}
					{% for error in form.body.errors %}
					<li>{{ error }}</li>
					{% endfor %}
					{% endif %}
				</ul>
				{{ form.body(class="form-control", placeholder="Type in your answer") }}
			</div>
			<br>
			{{ form.submit(class="btn btn-lg btn-block btn-primary") }}
		</form>
	</div>
</div>
{% endblock %}
