{% extends "base.html" %}

{% block title %} Question {% endblock %}

{% block script %} 
<script type="text/javascript">
$(document).ready(function(){

	$('.upVote').on( 'click', function(event){
        answer_id = $(this).attr('data-id');
        url = '\/vote\/' +{{ question.id }} + '\/' + answer_id + '\/1';
        request = $.ajax({
            url: url,
            type: 'GET',
        });

        request.done(function(data){
            location.reload();
        });
    });

    $('.downVote').on( 'click', function(event){
        answer_id = $(this).attr('data-id');
        url = '\/vote\/' +{{ question.id }} + '\/' + answer_id + '\/0';
        request = $.ajax({
            url: url,
            type: 'GET',
        });

        request.done(function(data){
            location.reload();
        });
    });
});
</script>
{% endblock %}

{% block content %}
<div id="new-question-main-container" class="container">
	<h1>{{ question.title }}</h1>
	<div id="question-container" class="row">
		<div class="col-1 question-votes-container">
			<div  class="h-100 text-center">
				<span class="vote-btn">&#9650</span><br>
				<span>{{ question.numVotes }}</span><br>
				<span class="vote-btn">&#9660</span>
			</div>
		</div>
		<div class="col-11 question-container">
			<p class="question-body">
				{{ question.body }}
			</p>
			<div class="question-creator-container">
				<p>
					Asked by:<br>
					<b>{{ question.creator.username }}</b> on {{ question.date_created.year }}-{{ question.date_created.month }}-{{ question.date_created.day }}
				</p>
			</div>
		</div>
	</div>
	<div id="answers-container" class="container">
		<h2>{{ question.numAnswers }} Aswers</h2>
		{% for answer in question.answers %}
		<div class="row answer-row">
			<div class="col-1 question-votes-container">
				<div class="h-90 text-center">
                    <a id="upVote" class="upVote" data-id="{{answer.id}}"><span class="vote-btn">&#9650<br></span></a>
						<span>{{ answer.numVotes }}</span><br>
					<a id="downVote" class="downVote" data-id="{{answer.id}}"><span class="vote-btn">&#9660</span></a>
				</div>
				<div class="text-success h-10 text-center invisible" style="font-size: 2em; font-weight: bold;">
					&#10003;
				</div>
			</div>
			<div class="col-11 answer-container">
				<p class="answer-body">
					{{ answer.body }}
				</p>
				<div class="answer-creator-container">
					<p>
						Answered by:<br>
						<b>{{ answer.creator.username }}</b> on {{ answer.date_created.year }}-{{ answer.date_created.month }}-{{ answer.date_created.day }}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div id="new-answer-form-container">
		<h2>Your Answer</h2>
		<form method="POST" class="form-signin" style="color:white;">
			{{ form.hidden_tag() }}
			<div class="row">
				<ul class="errors text-danger">
				{% if form.body.errors %}
			        {% for error in form.body.errors %}
			        <li>{{ error }}</li>
			        {% endfor %}
				{% endif %}
				</ul>
				{{ form.body(class="form-control", placeholder="Type in your answer") }}
			</div>
			<br>
			{{ form.submit(class="btn btn-lg btn-block btn-primary") }}
		</form>
	</div>
</div>
{% endblock %}

