{%extends "base.html" %}

{% block title %} User Page {% endblock %}


{%block content%}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://static.vecteezy.com/system/resources/previews/002/318/271/non_2x/user-profile-icon-free-vector.jpg"><span class="font-weight-bold">User</span><span class="text-black-50">{{user.username}}@stackmock.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Username</label></div>
                    <div class="col-md-6"><label class="labels">{{user.username}}</label></div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-6"><label class="labels">Email ID</label></div>
                    <div class="col-md-6"><label class="labels">{{user.email}}</label></div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6"><label class="labels">Reputation: </label></div>
                    <div class="col-md-6"><label class="labels">{{user.reputation}}</label></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" href="{{ url_for('views.userPage', user_id=current_user.id) }}">Edit Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr>
    <h3 class="text-right">My Questions</h3>
    <div id="questions-list" class="row align-items-start">
		{% for question in questions %}
		<div class="row">
			<div class="col-2 question-stats-container">
				<div style="align-items: center; display: flex;" class="h-100 align-middle">
					{{ question.numVotes }} Votes<br>
					{{ question.numAnswers }} Answers
				</div>
			</div>
			<div class="col-10 question-container">
				<a href="{{ url_for('views.question', question_id=question.id) }}">
					<h2 class="question-title">
						{{ question.title }}
					</h2>
				</a>
				<p class="question-body">
					{{ question.body }}
				</p>
				<div class="question-creator-container">
					<p>
						Asked by:<br>
						<b>{{ question.creator.username }}</b> on {{ question.date_created.year }}-{{ question.date_created.month
						}}-{{ question.date_created.day }}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{%endblock%}